{% extends 'base.html.twig' %}

{% block title %}{{ pageLabel }}-Webstore{% endblock %}

{% block body %}
<h1 class="bg-[#161a1d] text-2xl text-start font-bold text-slate-50 px-5 py-3">web<span class="text-orange-600 text-3xl">S</span>tore</h1>
<nav class="bg-[#161a1d] h-screen w-60 flex-col">
<ul>
    <li><a class="text-slate-50" href="/">Home</a></li>
    <li><a class="text-slate-50" href="/admin">Admin</a></li>
    <li><a class="text-slate-50" href="/products">Products</a></li>
    <li><a class="text-slate-50" href="/contact">Contact</a></li>
    <li><a class="text-slate-50" href="/login">Login</a></li>
    <li><a class="text-slate-50" href="/register">Register</a></li>
</ul>
</nav>
{% endblock %}
